body {
  background-color: #Ececd5
;
}

h1 {
  color: Black;
  text-align: center;
}

p {
  font-family: Garamond;
  font-size: 20px;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
}
