body {
  background-color: #Ececd5;
  border-style: double;
  margin-left: 250px;
  margin-right: 250px;
}

h1 {
  color: Black;
  text-align: center;
}

h2{
font-family: Garamond;
  font-size: 24px;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
} 

p:first-of-type:first-letter {
  font-family: Garamond;
  font-size: 48px;
  font-style: italic;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
}

}

p {
  font-family: Garamond;
  font-size: 24px;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
  
}

p2 {
  font-family: Garamond;
  font-size: 24px;
  text-align: middle;
   margin-left: 250px;
   margin-right: 250px;
}

p3 {
  font-family: Garamond;
  font-size: 24px;
  text-align: middle;	
   margin-left: 250px;
   margin-right: 250px;
}
